<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% load static %}


{% block body_block %}


<h3>Heollo this is the section to check the model </h3>
        <h3>Below are the list of access records: </h3>
        
        <h4>Newly added heading </h4>

<!-- 
        <div class="djangotwo">
            {% if access_records %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </thead>
            
            {% for acc in access_records %}
            <tr>
                <td>{{ acc.name}}</td>
                <td>{{ acc.date }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>NO ACCESS RECORDS FOUND </p>
        {% endif %}
        </div> -->


        <img src="{% static "images/1.png" %}" alt="bigbiggie picture">

        {{ insert_me }}


{% endblock %}

